form{
    background-color: rgb(216, 220, 218);
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 0.5%;
    row-gap: 0.5%;
}

form * {
    height: 50%;
    text-align: center;
    font-size: 1.3rem;
}
