*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */
/* .header-container{
  padding: 20px;
  color: aliceblue;
  text-align: center;
  height: 30vh;
  background-image: url("https://mcdn.wallpapersafari.com/medium/72/73/bSsf9m.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

